@using WebAppBlazor.Data
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Здравствуйте, @context.User.Identity?.Name!</a>
        <a href="/" @onclick="(() => Logout())">Выйти</a>
    </Authorized>
    <NotAuthorized>
        <a href="/SignUp">Зарегистироваться</a>
        <a href="/Login">Войти</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    public void Logout()
    {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();
    }
}