@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Counter</PageTitle>
<AuthorizeView>
    <Authorized>
        <h1>Здравствуйте, @context.User.Identity?.Name!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Здравствуйте, пройдите авторизацию или зарегистрируйтесь!</h1>
    </NotAuthorized>
</AuthorizeView>


@code {

}
